@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("~/assets/fonts/helvetica_roman.woff") format("woff"),
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("~/assets/fonts/helvetica_bold.woff") format("woff"),
}